-- CreateTable
CREATE TABLE `mutual_fund` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `scheme_code` INTEGER NOT NULL,
    `code` VARCHAR(191) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `short_name` VARCHAR(191) NOT NULL,
    `exit_load` VARCHAR(191) NOT NULL,
    `lump_available` VARCHAR(191) NOT NULL,
    `sip_available` VARCHAR(191) NOT NULL,
    `lump_min` INTEGER NOT NULL,
    `lump_min_additional` INTEGER NOT NULL,
    `lump_max` VARCHAR(191) NOT NULL,
    `lump_multiplier` INTEGER NOT NULL,
    `sip_min` INTEGER NOT NULL,
    `sip_max` VARCHAR(191) NOT NULL,
    `sip_multiplier` INTEGER NOT NULL,
    `redemption_allowed` VARCHAR(191) NOT NULL,
    `redemption_amount_multiple` INTEGER NOT NULL,
    `redemption_amount_minimum` INTEGER NOT NULL,
    `redemption_quantity_multiple` DOUBLE NOT NULL,
    `redemption_quantity_minimum` DOUBLE NOT NULL,
    `category` VARCHAR(191) NOT NULL,
    `lock_in_period` INTEGER NOT NULL,
    `sip_maximum_gap` INTEGER NOT NULL,
    `fund_house` VARCHAR(191) NOT NULL,
    `fund_name` VARCHAR(191) NOT NULL,
    `short_code` VARCHAR(191) NOT NULL,
    `detail_info` VARCHAR(191) NOT NULL,
    `ISIN` VARCHAR(191) NOT NULL,
    `direct` VARCHAR(191) NOT NULL,
    `switch_allowed` VARCHAR(191) NOT NULL,
    `stp_flag` VARCHAR(191) NOT NULL,
    `swp_flag` VARCHAR(191) NOT NULL,
    `instant` VARCHAR(191) NOT NULL,
    `reinvestment` VARCHAR(191) NOT NULL,
    `slug` VARCHAR(191) NOT NULL,
    `channel_partner_code` VARCHAR(191) NOT NULL,
    `tax_period` INTEGER NOT NULL,
    `insta_redeem_min_amount` INTEGER NOT NULL,
    `insta_redeem_max_amount` INTEGER NOT NULL,
    `small_screen_name` VARCHAR(191) NOT NULL,
    `start_date` VARCHAR(191) NOT NULL,
    `face_value` INTEGER NULL,
    `fund_type` VARCHAR(191) NOT NULL,
    `fund_category` VARCHAR(191) NOT NULL,
    `plan` VARCHAR(191) NOT NULL,
    `expense_ratio` VARCHAR(191) NULL,
    `expense_ratio_date` VARCHAR(191) NULL,
    `fund_manager` VARCHAR(191) NOT NULL,
    `crisil_rating` VARCHAR(191) NOT NULL,
    `investment_objective` VARCHAR(1000) NOT NULL,
    `portfolio_turnover` VARCHAR(191) NULL,
    `maturity_type` VARCHAR(191) NOT NULL,
    `aum` INTEGER NOT NULL,
    `fund_rating` INTEGER NULL,
    `fund_rating_date` VARCHAR(191) NULL,
    `last_nav` JSON NULL,
    `nav` JSON NULL,
    `nav_updated_at` DATETIME(3) NULL,
    `returns` JSON NULL,

    UNIQUE INDEX `mutual_fund_scheme_code_key`(`scheme_code`),
    UNIQUE INDEX `mutual_fund_code_key`(`code`),
    UNIQUE INDEX `mutual_fund_ISIN_key`(`ISIN`),
    INDEX `mutual_fund_ISIN_idx`(`ISIN`),
    INDEX `mutual_fund_code_idx`(`code`),
    INDEX `mutual_fund_nav_updated_at_idx`(`nav_updated_at`),
    INDEX `mutual_fund_scheme_code_idx`(`scheme_code`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

